body {

    display: flex;
    justify-content: center;
}
.my-list {
    background-color: #f7f381;
    Padding: 8px 24px;
    Width: 500px;
    box-shadow: 0 0 10px 2px #333333;
    font-size: 30px;
    border: 1px solid #f7f381;
}

p {
    text-align: center;
}
h1 {
    margin-left: 30px;
}
ol {
    margin: 12px;
}