.card{
    display: block;
    width: 15em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
  
  .card-content {
    height: 50vh;
    position: relative;
  }
  
  .card-content img {
    width: 100%;
    height: auto;
  }
  
  
  .card-content:nth-child(1){
    background: linear-gradient(90deg, rgba(40,114,214,1) 0%, rgba(78,143,143,1) 42%, rgba(0,255,235,1) 100%);
}

.card-content:nth-child(2){
    background: linear-gradient(90deg, rgba(212,8,128,1) 0%, rgba(143,78,88,1) 42%, rgba(255,124,0,1) 100%);}